<%- include('includes/head.ejs') %>

<form method="POST" action="/users">
  <input type="text" name="user" placeholder="user name">
  <button type="submit">Add user</button>
</form>

<%- include('includes/end.ejs') %>